@media (max-width: 1200px) {

}

@media (max-width: 991px) {
  .reg, .log {
    width: 100%;
  }
  .forms {
    padding: 28px 0;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
  .title {
    font-size: 28px;
    line-height: 31px;
  }
  .btn {
    &_reg, &_log {
      font-size: 24px;
    }
    &_log {
      width: 135px;
    }
    &_reg {
      width: 240px;
    }
  }
  .reg, .log {
    input {
      width: 100%;
    }
  }
}