@media (max-width: 1200px) {

}

@media (max-width: 991px) {
  .footer {
    height: 100%;
    padding: 20px 0;
    .row > * {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__descr {
      text-align: center;
      line-height: 22px;
    }
  }
}

@media (max-width: 575px) {
  .btn {
    width: 80px;
    &_big {
      width: 280px;
      &:hover {
        img {
          animation: none;
        }
      }
    }
    &:hover {
      color: $main-text;
      box-shadow: none;
    }
    &_modal {
      width: 165px;
    }
  }
  .header {
    justify-content: flex-end;
    &__up {
      &_auth {
        left: 5px;
      }
    }
    &__link {
      font-size: 20px;
      &:nth-child(2) {
        font-size: 22px;
        margin: 0;
      }
    }
  }
}