@media (max-width: 1200px) {
  .homework {
    &__wrapper {
      width: 50%;
    }
  }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .homework {
    &__wrapper {
      width: 65%;
    }
  }
}
@media (max-width: 575px) {
  .homework {
    padding: 15px;
    &__wrapper {
      width: 100%;
    }
  }
}