@media (max-width: 1200px) {
  .promo {
    &__header {
      font-size: 48px;
    }
    &__subheader {
      font-size: 24px;
    }
  }
}

@media (max-width: 991px) {
  .promo {
    &__item {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  .title {
    margin-bottom: 18px;
  }
  .promo {
    &__subheader {
      margin-bottom: 30px;
    }
  }
  .about {
    padding: 40px 0 10px 0;
  }
  .function {
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next, .swiper-button-prev{
      display: none;
    }
    .swiper-container {
      height: 320px;
    }
  }
}

@media (max-width: 575px) {
  .btn {
    &_big {
      width: 280px;
      &:hover {
        img {
          animation: none;
        }
      }
    }
    &:hover {
      color: $main-text;
      box-shadow: none;
    }
  }
  .title {
    font-size: 28px;
    line-height: 31px;
  }
  .promo {
    .promo__wrapper {
      margin-bottom: 25px;
    }
  }
  .about {
    &__text {
      span {
        font-size: 18px;
      }
    }
    &__list {
      margin-top: 10px;
      padding: 0 20px;
      li {
        font-size: 18px;
        &::before {
          width: 10px;
          height: 10px;
          left: -13px;
          top: 10px;
        }
      }
    }
  }
}