/* overlay */
/* title */
/* header */
/* btns */
/* footer */
* {
  color: #222;
  font-family: Comfortaa;
}

.btn {
  display: block;
  cursor: pointer;
  width: 135px;
  height: 45px;
  text-align: center;
  background-color: #FF9A90;
  color: #222;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  border: none;
}

.btn:hover {
  color: #222;
  -webkit-box-shadow: 0 0 10px 5px #D36E64;
          box-shadow: 0 0 10px 5px #D36E64;
}

.btn_no {
  margin-bottom: 15px;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  background-color: #D6C3F1;
}

.header__up {
  cursor: pointer;
}

.header__up:hover {
  -webkit-animation: up 1s linear;
          animation: up 1s linear;
}

.header__up_auth {
  position: absolute;
  left: 10px;
}

.header__logo {
  color: #3129D8;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
}

.header__logo:hover {
  color: #3129D8;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons .btn:nth-child(1) {
  margin-right: 10px;
}

.header_links {
  width: 100%;
  text-align: center;
}

.header__link {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.header__link:nth-child(2) {
  margin: 0 10px;
  color: #3129D8;
  font-size: 28px;
  font-weight: 400;
}

.header__link:nth-child(2):hover {
  color: #3129D8;
}

.header__link:hover {
  color: #222;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  background-color: #D6C3F1;
}

.header__up {
  cursor: pointer;
}

.header__up:hover {
  -webkit-animation: up 1s linear;
          animation: up 1s linear;
}

.header__up_auth {
  position: absolute;
  left: 10px;
}

.header__logo {
  color: #3129D8;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
}

.header__logo:hover {
  color: #3129D8;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons .btn:nth-child(1) {
  margin-right: 10px;
}

.header_links {
  width: 100%;
  text-align: center;
}

.header__link {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.header__link:nth-child(2) {
  margin: 0 10px;
  color: #3129D8;
  font-size: 28px;
  font-weight: 400;
}

.header__link:nth-child(2):hover {
  color: #3129D8;
}

.header__link:hover {
  color: #222;
}

.complete {
  position: relative;
  top: 65px;
}

.complete__title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
  color: red;
}

.complete__form {
  padding: 15px;
  background-color: #F8E5FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__up_auth {
    left: 5px;
  }
  .header__link {
    font-size: 20px;
  }
  .header__link:nth-child(2) {
    font-size: 22px;
    margin: 0;
  }
  .complete__title {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style_complete.css.map */