/* overlay */
/* title */
/* header */
/* btns */
/* footer */
* {
  color: #222;
  font-family: Comfortaa;
}

.btn {
  display: block;
  cursor: pointer;
  width: 135px;
  height: 45px;
  text-align: center;
  background-color: #FF9A90;
  color: #222;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  border: none;
}

.btn:hover {
  color: #222;
  -webkit-box-shadow: 0 0 10px 5px #D36E64;
          box-shadow: 0 0 10px 5px #D36E64;
}

.btn_exit {
  margin: 0 auto;
  margin-top: 15px;
}

.btn_modal {
  width: 160px;
  color: #008600;
}

.btn_add {
  margin: 0 auto;
  width: 180px;
  color: #008600;
  font-size: 20px;
  margin-bottom: 15px;
}

.btn_start {
  margin: 0 auto;
  width: 230px;
  color: #B9001C;
  font-size: 20px;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  background-color: #D6C3F1;
}

.header__up {
  cursor: pointer;
}

.header__up:hover {
  -webkit-animation: up 1s linear;
          animation: up 1s linear;
}

.header__up_auth {
  position: absolute;
  left: 10px;
}

.header__logo {
  color: #3129D8;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
}

.header__logo:hover {
  color: #3129D8;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons .btn:nth-child(1) {
  margin-right: 10px;
}

.header_links {
  width: 100%;
  text-align: center;
}

.header__link {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.header__link:nth-child(2) {
  margin: 0 10px;
  color: #3129D8;
  font-size: 28px;
  font-weight: 400;
}

.header__link:nth-child(2):hover {
  color: #3129D8;
}

.header__link:hover {
  color: #222;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  background-color: #D6C3F1;
}

.header__up {
  cursor: pointer;
}

.header__up:hover {
  -webkit-animation: up 1s linear;
          animation: up 1s linear;
}

.header__up_auth {
  position: absolute;
  left: 10px;
}

.header__logo {
  color: #3129D8;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
}

.header__logo:hover {
  color: #3129D8;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons .btn:nth-child(1) {
  margin-right: 10px;
}

.header_links {
  width: 100%;
  text-align: center;
}

.header__link {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.header__link:nth-child(2) {
  margin: 0 10px;
  color: #3129D8;
  font-size: 28px;
  font-weight: 400;
}

.header__link:nth-child(2):hover {
  color: #3129D8;
}

.header__link:hover {
  color: #222;
}

.account {
  position: relative;
  top: 65px;
  padding: 15px;
}

.account .header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account__wrapper {
  margin: 0 auto;
  background-color: #F8E5FF;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
}

.account__name {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #3129D8;
}

.account__email {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

.account .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 1000;
}

.account .overlay .modal {
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D6C3F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px 1px #fff;
          box-shadow: 0px 0px 20px 1px #fff;
}

.account .overlay .modal__title {
  font-size: 28px;
  color: #3129D8;
  margin-bottom: 15px;
}

.account .overlay .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account .overlay .modal__form input {
  margin-bottom: 15px;
  padding: 10px 5px 8px 10px;
  border-radius: 10px;
  border: 1px solid #222;
  width: 100%;
}

.list {
  position: relative;
  top: 65px;
}

.list__wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  background-color: #F8E5FF;
  border-radius: 10px;
}

.list__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #3129D8;
}

.list__item {
  margin-top: 15px;
}

.list__subj {
  text-align: center;
  font-size: 26px;
  color: #3129D8;
}

.list__btns {
  margin-bottom: 5px;
}

.list__full {
  margin-bottom: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FF9A90;
  padding: 5px;
}

.list__text {
  margin-bottom: 0;
  font-size: 24px;
}

.list__date {
  color: #FF9A90;
}

.list__type {
  color: #222;
  font-size: 24px;
}

.list__type[data-type="1"], .list__type[data-type="3"] {
  color: red;
}

.list__type[data-type="2"] {
  color: #00A530;
}

.list__type[data-type="5"] {
  color: #777;
}

.list__img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.list .overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 1000;
}

.list .overlay .modal {
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D6C3F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px 1px #fff;
          box-shadow: 0px 0px 20px 1px #fff;
}

.list .overlay .modal__close {
  cursor: pointer;
  font-size: 40px;
  color: #3129D8;
}

.list .overlay .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .overlay .modal__form input, .list .overlay .modal__form select {
  margin-bottom: 15px;
  padding: 10px 5px 8px 10px;
  border-radius: 10px;
  border: 1px solid #222;
  width: 100%;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .account__wrapper {
    width: 50%;
  }
  .list__wrapper {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .account__wrapper {
    width: 70%;
  }
  .list__wrapper {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .list .overlay .modal {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .btn_exit {
    width: 90px;
  }
  .btn_modal {
    width: 160px;
  }
  .btn_add {
    height: 40px;
    width: 160px;
    font-size: 18px;
    line-height: 18px;
  }
  .btn_start {
    height: 40px;
    width: 210px;
    font-size: 18px;
    line-height: 42px;
  }
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__up_auth {
    left: 5px;
  }
  .header__link {
    font-size: 20px;
  }
  .header__link:nth-child(2) {
    font-size: 22px;
    margin: 0;
  }
  .account__wrapper {
    width: 100%;
  }
  .list__wrapper {
    width: 100%;
  }
  .list__text, .list__type {
    font-size: 16px;
  }
  .list__item {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style_account.css.map */