{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_reglog.min.css' %}">
{% endblock %}

{% block content %}
<section class="forms">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">Вход</div>
        {{ form.non_field_errors }}
        <form method="post" class="log">
          {% csrf_token %}
          {{ form.email }}
          {{ form.password }}
          <button type="submit" class="btn btn_log">Вход</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}