{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_reglog.min.css' %}">
{% endblock %}

{% block content %}
<section class="forms">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="title">Вход</div>
        <form method="post" class="log">
          {% csrf_token %}
          {{ form_log.email }}
          {{ form_log.password }}
          <button type="submit" class="btn btn_log">Вход</button>
        </form>
      </div>
      <div class="col-12">
        <div class="title">Регистрация</div>
        <form method="post" class='reg'>
          {% csrf_token %}
          {{ form_reg.first_name }}
          {{ form_reg.last_name }}
          {{ form_log.email }}
          {{ form_log.password }}
          <button type="submit" class="btn btn_reg">Подтвердить</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}