{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_account.min.css' %}">
{% endblock %}
{% block header %}
  <header class="header">
    <a href="#up" class="header__up header__up_auth"><img src="{% static 'icons/arrow.svg' %}" alt="arrow_up"></a>
    <div class="header__links">
      <a href="{% url 'account' %}" class="header__link">Профиль</a>
      <a href="{% url 'account' %}" class="header__link">hicon</a>
      <a href="{% url 'homework' %}" class="header__link">Домашка</a>
    </div>
  </header>
{% endblock %}
{% block content %}
  <section class="account">
    <div class="account__wrapper">
      <div class="account__name">
        {{ acc.first_name }} {{ acc.last_name }}
      </div>
      <div class="account__email">
        {{ acc.email }}
      </div>
      <a href="{% url 'exit' %}" class="btn account__exit">Выход</a>
    </div>
  </section>
{% endblock %}
{% block footer %}
{% endblock %}