{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_account.min.css' %}">
{% endblock %}
{% block header %}
  <header class="header">
    <a href="#up" class="header__up header__up_auth"><img src="{% static 'icons/arrow.svg' %}" alt="arrow_up"></a>
    <div class="header__links">
      <a href="{% url 'account' %}" class="header__link">Профиль</a>
      <a href="{% url 'account' %}" class="header__link">hicon</a>
      <a href="{% url 'homework' %}" class="header__link">Домашка</a>
    </div>
  </header>
{% endblock %}
{% block content %}
  <section class="account">
    <div class="account__wrapper">
      <div class="account__name">
        {{ acc.first_name }} {{ acc.last_name }}
      </div>
      <div class="account__email">
        {{ acc.email }}
      </div>
      <a href="{% url 'exit' %}" class="btn btn_exit">Выход</a>
    </div>
  </section>
  <section class="list">
    <div class="overlay">
      <div class="modal">
        <div class="modal__close">&times;</div>
        <form method="post" class="modal__form">
          {% csrf_token %}
          {{ form.subj }}
          {{ form.homework }}
          {{ form.date }}
          <button type="submit" class="btn btn_modal">Добавить</button>
        </form>
      </div>
    </div>
    <div class="list__wrapper">
      <div class="list__title">
        Список Д/З
      </div>
      <button class="btn btn_add">Добавить Д/З</button>
      <a href="{% url 'homework' %}" class="btn btn_start">Начать выполнять</a>
      {% for id, subj, hws in homeworks %}
        <div class="list__item">
            <div class="list__subj">{{ subj }}</div>
            <div class="list__homeworks">
              <div class="container-fluid">
                <div class="row">
                  {% for hw, date, ind in hws %}
                    <div class="col-12 list__col">
                        <div class="list__full">
                          <div class="list__btns">
                            <a href="{% url 'complete' pk=id index=ind %}"><img src="{% static 'icons/check.svg' %}" class="list__img" alt="check"></a>
                            <a href="{% url 'change' pk=id index=ind %}"><img src="{% static 'icons/cog.svg' %}" class="list__img" alt="check"></a>
                          </div>
                          <p class="list__text"><span class="list__hw">{{ hw }}</span> - <span class="list__date">{{ date }}</span></p>
                        </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
  <script src="{% static 'js/links.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}