{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_complete.min.css' %}">
{% endblock %}
{% block header %}
  <header class="header">
    <a href="#up" class="header__up header__up_auth"><img src="{% static 'icons/arrow.svg' %}" alt="arrow_up"></a>
    <div class="header__links">
      <a href="{% url 'account' %}" class="header__link">Профиль</a>
      <a href="{% url 'account' %}" class="header__link">hicon</a>
      <a href="{% url 'homework' %}" class="header__link">Домашка</a>
    </div>
  </header>
{% endblock %}
{% block content %}
  <div class="complete">
    <form method="post" class="complete__form">
      {% csrf_token %}
      <div class="complete__title">Ты точно сделал это дз?</div>
      <a href="{% url 'account' %}" class="btn btn_no">Нет((</a>
      <button type="submit" class="btn">Да!</button>
    </form>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}