{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_update.min.css' %}">
{% endblock %}
{% block header %}
  <header class="header">
    <a href="#up" class="header__up header__up_auth"><img src="{% static 'icons/arrow.svg' %}" alt="arrow_up"></a>
    <div class="header__links">
      <a href="{% url 'account' %}" class="header__link">Профиль</a>
      <a href="{% url 'account' %}" class="header__link">hicon</a>
      <a href="{% url 'homework' %}" class="header__link">Домашка</a>
    </div>
  </header>
{% endblock %}
{% block content %}
  <div class="update">
    <form method="post" class="update__form">
      {% csrf_token %}
      <div class="update__title">Запишу другую домашку и мы её исправим</div>
      {{ form.homework }}
      {{ form.matrix_type }}
      {{ form.date }}
      <button type="submit" class="btn btn_update">Подтвердить</button>
    </form>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}