.btn {
  display: block;
  cursor: pointer;
  width: 135px;
  height: 45px;
  text-align: center;
  background-color: $second-back;
  color: $main-text;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  outline: none;
  border: none;
  &_big {
    margin: 0 auto;
    width: 320px;
    height: 70px;
    font-family: Philosopher;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 72px;
    img {
      transform: rotate(180deg);
    }
    &:hover {
      img {
        animation: down 1s linear infinite;
      }
    }
  }
  &_log, &_reg {
    margin-top: 10px;
    font-size: 28px;
  }
  &_reg {
    width: 290px;
  }
  &_exit{
    margin: 0 auto;
    margin-top: 15px;
  }
  &:hover{
    color: $main-text;
    box-shadow: 0 0 10px 5px $second-back-hover;
  }
}