.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: $main-back;
  &__up {
    cursor: pointer;
    &:hover {
      animation: up 1s linear;
    }
  }

  &__logo {
    color: $second-text;
    font-size: 28px;
    line-height: 28px;
  }
  &__buttons {
    display: flex;
    .btn:nth-child(1) {
      margin-right: 10px;
    }
  }
}