{% extends 'account/account.html' %}
{% load static %}

{% block title %}
  Домашка
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style_homework.min.css' %}">
{% endblock %}

{% block content %}
  <section class="homework">
    <div class="homework__wrapper">
      <!-- https://bakunin.com/time-management-techniques/ -->
      <a href="{% url 'pomodoro' %}" class="homework__item">Метод Помидора</a>
      <a href="{% url 'matrix' %}" class="homework__item">Матрица Эйзенхауэра</a>
      <a href="{% url 'notes' %}" class="homework__item">Заметки</a>
    </div>
  </section>
{% endblock %}

{% block javascript %}
{% endblock %}