{% extends 'account/account.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_homework.min.css' %}">
{% endblock %}

{% block content %}
  <section class="homework">
    <div class="homework__wrapper">
      <!-- https://bakunin.com/time-management-techniques/ -->
      <a href="{% url 'pomodoro' %}" class="homework__item">Метод Помидора</a>
      <a href="{% url 'matrix' %}" class="homework__item">Матрица Эйзенхауэра</a>
      <a href="{% url 'frog' %}" class="homework__item">Съесть лягушку</a>
      <a href="{% url 'salami' %}" class="homework__item">Метод салями</a>
    </div>
  </section>
{% endblock %}

{% block javascript %}
{% endblock %}