{% extends 'account/account.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_salami.min.css' %}">
{% endblock %}

{% block content %}
  <section class="salami">
    <div class="salami__wrapper">
      <div class="overlay">
        <div class="modal salami__modal">
          <div class="modal__close salami__close">&times;</div>
          <div class="salami__title">
            Метод салями
          </div>
          <div class="salami__subtitle"></div>
        </div>
      </div>
      sdfsdfsdf
    </div>
  </section>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/modal_close.js' %}"></script>
{% endblock %}